<header class="main-header">
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="https://pbs.twimg.com/profile_images/977182818324439040/8jNF4F9H_400x400.jpg" width="50px">
    </div>
    <h1 class="site-title">Gestión de Candidatos</h1>
  </div>

  <nav class="header-nav">
    <a routerLink="/upload" routerLinkActive="active-link" >
      Nuevo candidato
    </a>
    <a routerLink="/list" routerLinkActive="active-link" >
      Lista de candidatos
    </a>
  </nav>
</header>

<router-outlet></router-outlet>
